node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

frontend/.next
frontend/out
frontend/coverage

backend/dist
backend/uploads/*
!backend/uploads/.gitkeep
backend/coverage

*.tsbuildinfo
.DS_Store
